@{
    ViewData["Title"] = "Home Page";
}



<div  class="text-center">
    <img src="/css/SISTEMA DE CADASTRO DE CLIENTES.gif" alt="Descrição da Imagem" width="1000" height="200">
    
</div>

<style>
    .text-center {
        text-align: center;
    }

        .text-center img {
            border-radius: 25px;
        }

        .body{
            background-color:gray;
        }
</style>